@* @{
Layout = "_Layout";
} *@
<h1>Body of home page</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatibus quaerat vel consequuntur nostrum
    repudiandae iure dignissimos harum distinctio labore. Ad cumque repudiandae soluta incidunt, culpa quam
    perspiciatis. Unde, sequi.
</p>
